#1. backup
upstream sam_www {
		server 10.x.7.90;		# www01
		server 10.x.7.88;		# www02
		server 10.x.7.114:9090;		# www03
		server 10.x.7.121;		# www04
 		server 10.x.7.24 backup;	# www07
}
#2. weight
upstream sam_api {
		server 10.10.6.38:9988 weight=5;	# api01
    		server 10.10.6.32:9988 weight=5;	# api02
}

